.cv-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.cv-iframe {
  width: 1000px;       /* proporzione migliore */
  height: 1000px;   /* più alto, elimina effetto "tagliato" */
  border: none;
  box-shadow: 0 0 25px rgba(0,0,0,0.3); /* opzionale: ombra per distacco */
  border-radius: 15px; /* bordi arrotondati eleganti */
}

.cv-download {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}